mixin param(model)
  input(type="number" ng-model=model).form-control

doctype html5
head
  link(rel="stylesheet" href="bootstrap.css")

  script(src="jquery.js")
  script(src="bootstrap.js")
  script(src="angular.js")

  link(rel="stylesheet" href="index.css")
  script(src="index.js")

body(ng-app="app" ng-controller="FractaltCtrl")
  .row
    .col-xs-3.col-md-2.menu
      .row
        h3.text-center Scene
      select.form-control(
        ng-model="scene_name"
        ng-options="scene for scene in keys(scenes)"
        ng-change="set_scene(); draw()")
      .row
        h4.text-center Color
      select.form-control(
        ng-model="scene_color"
        ng-options="color for color in keys(colors)"
        ng-change="set_color(); draw()")

      .row
        h4.text-center Type
      .row
        .col-md-6.col-xs-4
          +param('scene.c.x')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.c.x = scene.c.x - 0.01; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-left
          button(ng-click="scene.c.x = scene.c.x + 0.01; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-right
      .row
        .col-md-6.col-xs-4
          +param('scene.c.y')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.c.y = scene.c.y + 0.01; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-up
          button(ng-click="scene.c.y = scene.c.y - 0.01; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-down

      .row
        h4.text-center Position
      .row
        .col-md-6.col-xs-4
          +param('scene.p.x')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.p.x = scene.p.x - scene.d.x / 4; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-left
          button(ng-click="scene.p.x = scene.p.x + scene.d.x / 4; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-right
      .row
        .col-md-6.col-xs-4
          +param('scene.p.y')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.p.y = scene.p.y - scene.d.y / 4; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-up
          button(ng-click="scene.p.y = scene.p.y + scene.d.y / 4; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-down

      .row
        h4.text-center Zoom
      .row
        .col-md-6.col-xs-4
          +param('scene.d.x')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.d.x = scene.d.x * 3/2; scene.d.y = scene.d.y * 3/2; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-up
          button(ng-click="scene.d.x = scene.d.x * 2/3; scene.d.y = scene.d.y * 2/3; draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-down

      .row
        h4.text-center Iterations
      .row
        .col-md-6.col-xs-4
          +param('scene.iter')
        .col-md-6.col-xs-8.small-pad
          button(ng-click="scene.iter = floor(scene.iter * 11/10); draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-up
          button(ng-click="scene.iter = floor(scene.iter * 10/11); draw()").btn.btn-default
            span.glyphicon.glyphicon-arrow-down
      .row.row-btn
        .btn-group
          button.btn.btn-default(type="button" ng-click="draw()") draw
          button.btn.btn-default(type="button" ng-click="save()") save
          button.btn.btn-default(type="button" ng-click="export()") export

    .col-xs-9.col-md-10
      canvas
